html,
body {
  margin: 0;
  font-size: 10px;
}
.cinemaHall {
  background: linear-gradient(to right, #2e1371 0%, #130b2b 100%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  width: 100%;
  flex: 1 1 auto;
}
.max-screen {
  max-width: 1440px;
  margin: 0 auto;
}
.cinemaHall {
  transition: transform 1s ease;
  transform: scale(1);
}
.cinemaHall.cinema__cloze {
  transition: transform 1s ease;
  transform: scale(0);
}
.cinemaHall.cloze {
  display: none;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #130b2d;
}

/* Стилізація "ползунка" */
::-webkit-scrollbar-thumb {
  background-color: #09fbd3c6;
  border-radius: 4px;
}

/* Задання ширини "ползунка" */
::-webkit-scrollbar-thumb {
  width: 4px;
}
